// Bootstrap
@import "~bootstrap/scss/bootstrap";
nav.navbar.navbar-expand-lg{
	margin-bottom: 20px;
}
footer {
	margin-top:45px;
	margin-bottom:30px;
	padding-top:5px;
	border-top:1px solid #eee;
	color:#777;
	font-size:14px;
	font-weight: bold;
	a {
	color: #555;
	}
	a:hover{
		color: #222;
	}
}


section.user_info{
	padding-bottom: 10px;
	margin-top:20px;
	text-align: center;
	h1 {
		font-size:24px;
		margin-bottom:5px;
		margin-top:15px;
	}
	.avatar {
		float:none;
		max-width:120px;
	}
}

.avatar {
	float: left;
	max-width: 50px;
	border-radius: 50%;
}
.avatar_edit {
	margin:15px auto;
	text-align:center;
	.avatar {
		float: none;
		max-width:100px;
	}
}

.pagination {

	li a {
		white-space:nowrap;
		padding:3px 10px;
	    text-align: center;
	    border: 1px solid #4fa2e4;
	    border-radius: 5px;
	    display: block;
	    margin: 0 1px;
	}
	.disabled span {
		white-space:nowrap;
		padding:3px 10px;
	    text-align: center;
	    border: 1px solid #4fa2e4;
	    border-radius: 5px;
	    display: block;
	    margin: 0 5px;
		background: #4fa2e4;
		color:#fff;
	}
	.active span {
		white-space:nowrap;
		padding:3px 10px;
	    text-align: center;
	    border: 1px solid #4fa2e4;
	    border-radius: 5px;
	    display: block;
	    margin: 0 1px;
		background: #4fa2e4;
		color:#fff;
	}
}

.stats {
	overflow: hidden;
	margin-top:0;
	padding:0;
	a {
		float:left;
		padding:0 10px;
		text-align:center;
		width: 33%;
		border-left: 1px solid #eee;
		color:#333;
		&:hover {
			text-decoration: none;
			color:#999;
		}
		&:first-child{
			border:none;
		}
	}
	strong {
		display:block;
		font-size:1.2em;
		color:block;
	}
} 